page-flora {
    ion-card {
        ion-card-content {
            background-color: #FFF;
            img {
                width: 100%;
                height: 200px;
            }
            .fonte {
                text-align: left;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}