page-home {
    font-size: 1vw;
    top: 1vw;
    ion-card {
        height: 27vh;
        .card-qualidade {
            padding: 5vh;
            background-color: #FFF;
            height: 100%;
            width: 100%;
        }
        .fundo-mensagem {
            background-color: #70DBDB;
            height: 100%;
        }
        .mensagem {
            color: #fff;
            border: 2vw;
            font-size: 5vw;
            text-shadow: 0.8vw 0.8vw 0.8vw #4682B4;
            font-weight: bold;
            width: 100%;
        }
        .card-title {
            position: absolute;
            top: 9vh;
            font-size: 8vw;
            width: 100%;
            height: 100%;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
        }
        ion-slides {
            width: 100%;
            ion-slide {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    filter: invert(20%);
                }
            }
        }
        ion-select {
            max-width: 100% !important;
        }
    }
}