page-home {
    ion-card {
        height: 30%;
        .card-qualidade {
            padding-top: 10%;
        }
        .fundo-mensagem {
            background-color: #70DBDB;
        }
        .mensagem {
            position: absolute;
            top: 35%;
            color: #fff;
            border: 2px;
            font-size: 25px;
            text-shadow: 1px 1px 1px #4682B4;
            font-weight: bold;
            width: 100%;
        }
        ion-slides {
            ion-slide {
                .card-title {
                    position: absolute;
                    top: 30%;
                    font-size: 2.0em;
                    width: 100%;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                }
                .card-subtitle {
                    font-size: 1.0em;
                    position: absolute;
                    top: 55%;
                    width: 100%;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                }
                img {
                    filter: invert(20%);
                }
            }
        }
        ion-select {
            max-width: 100% !important;
        }
    }
}