page-agua {

  ion-content.content-md {

     ion-slides{


      ion-slide{
        .capa{
          color: blue;
          line-height: 50px;
          text-align: center;
          font-size: 55px;
          vertical-align: text-top;
        }
        .titulo{
          color: blue;
          font-size: 25px;
          position: relative;
          top: 1;
          left: 30;
          z-index: 50;
          background:#6CA6CD;
          padding:10px;
          border:0px solid #CCCCCC;
          text-align:center;
          font-weight:bold;
          width:100%;
          border-radius: 20px;
        }
        .corpo{
          color: black;
          padding:25px;
          text-align: center;
        }
        .title-corpo{
          font-weight: 590;
          font-size: 18px;
          text-align: justify;
        }
        .title-corpo2{
          color:white;
          text-align: justify;
          font-weight: 600;
          font-size: 20px;
        }
        .img{
          max-width:200px;
          max-height:150px;
          width: auto;
          height: auto;
          border-radius: 20px;
        }

        .img2{
          max-width:200px;
          max-height:150px;
          width: auto;
          height: auto;
          border-radius: 20px;
          border:5px solid #87CEFA;
        }
        .img-seta{
          max-width:100px;
          max-height:50px;
          width: auto;
          height: auto;
        }
      }
    }
  }

}
