page-sobre {
    font-size: 1vw;
    .corpo {
        margin-top: 5vw;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 4vw;
    }
    .titulo {
        font-size: 6vw;
    }
}