<ion-header>
    <ion-navbar color="head">
        <ion-title>POR ONDE PASSA?</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="conteudo">
        <div *ngIf="show == 0">
            <p class="inicio">A seguir vamos conhecer as cidades por onde o Rio Sorocaba passa. <br/><br/>Clique sobre o botão Início para começar</p>
            <button ion-button color="head" class="button1" large (click)="showDiv(1)">Início</button>
        </div>

        <div *ngIf="show == 1">
            <h2 class="slide-title">Nascente em Ibiúna</h2>
            <img src="imagens/ibiuna-rio-sorocaba.jpg" class="image" />
            <p>O Rio Sorocaba nasce na cidade de Ibiúna, um município brasileiro do estado de São Paulo com uma população de 72.217 mil habitantes em 2010, situa-se na Região Metropolitana de Sorocaba. Depois percorre as cidades a seguir:
            </p>
        </div>

        <div *ngIf="show == 2">
            <h2>Votorantim</h2>
            <img src="imagens/votorantim-rio-sorocaba.jpg" class="image" />
            <p>Votorantim é um município brasileiro no interior estado de São Paulo, fundada em 27 de março de 1965. Em 2010, sua população era de 108.809 habitantes.
            </p>
        </div>

        <div *ngIf="show == 3">
            <h2>Sorocaba</h2>
            <img src="imagens/rio-sorocaba.jpg" class="image" />
            <p>Sorocaba é um município brasileiro fundado em 15 de agosto de 1654, faz parte da Mesorregião Macro Metropolitana no estado de São Paulo. Em 2010, sua população era de 586.625.
            </p>
        </div>

        <div *ngIf="show == 4">
            <h2>Iperó</h2>
            <img src="imagens/ipero-rio-sorocaba.jpg" class="image" />
            <p>Iperó é um município brasileiro do estado de São Paulo, fundado em 21 de março de 1964. Em 2010, sua população era de 28.301 habitantes.</p>
        </div>

        <div *ngIf="show == 5">
            <h2>Boituva</h2>
            <img src="imagens/boituva-rio-sorocaba.jpg" class="image" />
            <p>Boituva foi fundada em 1883, possui uma população de 48.314 habitantes e uma área de 249,0 km².</p>
        </div>

        <div *ngIf="show == 6">
            <h2>Tatuí</h2>
            <img src="imagens/tatui-rio-sorocaba.JPG" class="image" />
            <p>Tatuí é um município brasileiro do estado de São Paulo fundado em 11 de agosto de 1826. Foi elevado a município em 20 de setembro de 1861. Sua população é de 117.823 habitantes e possui uma área de 525,44 km².
            </p>
        </div>

        <div *ngIf="show == 7">
            <h2>Cerquilho</h2>
            <img src="imagens/cerquilho-rio-sorocaba.jpg" class="image" />
            <p>Cerquilho é um município brasileiro do estado de São Paulo. Sua população é de 39.649 habitantes.</p>
        </div>

        <div *ngIf="show == 8">
            <h2>Jumirim</h2>
            <img src="imagens/jumirim-rio-sorocaba.jpg" class="image" />
            <p>Jumirim é um município brasileiro do estado de São Paulo. Sua população estimada em 2010 era de 2.798 habitantes e possui uma área de 56,7 km².</p>
        </div>

        <div *ngIf="show == 9">
            <h2>Laranjal Paulista</h2>
            <img src="imagens/laranjal-rio-sorocaba.jpg" class="image" />
            <p>Laranjal Paulista é um município brasileiro do estado de São Paulo. Sua população estimada em 2010 era de 25.251 habitantes.</p>
        </div>

        <div *ngIf="show == 10">
            <h2>Rio Tietê</h2>
            <img src="imagens/rio-tiete.jpg" class="image" />
            <p>O Rio Sorocaba desemboca no Rio Tietê, na cidade de Laranjal Paulista.</p>
        </div>
        <button ion-button color="head" class="right" large (click)="showDiv(2)" *ngIf="show == 1">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(3)" *ngIf="show == 2">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(4)" *ngIf="show == 3">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(5)" *ngIf="show == 4">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(6)" *ngIf="show == 5">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(7)" *ngIf="show == 6">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(8)" *ngIf="show == 7">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(9)" *ngIf="show == 8">Próxima</button>
        <button ion-button color="head" class="right" large (click)="showDiv(10)" *ngIf="show == 9">Próxima</button>

        <button ion-button color="head" class="left" large (click)="showDiv(0)" *ngIf="show == 1">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(1)" *ngIf="show == 2">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(2)" *ngIf="show == 3">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(3)" *ngIf="show == 4">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(4)" *ngIf="show == 5">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(5)" *ngIf="show == 6">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(6)" *ngIf="show == 7">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(7)" *ngIf="show == 8">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(8)" *ngIf="show == 9">Anterior</button>
        <button ion-button color="head" class="left" large (click)="showDiv(9)" *ngIf="show == 10">Anterior</button>
        <button ion-button color="head" class="right" large (click)="showDiv(0)" *ngIf="show == 10">Início</button>
    </div>
</ion-content>