page-passagem-rio {
     background: #fff;
     border-color: transparent;

   .slide-image {
     height: 200px;
     width: 200px;
     margin: 18px 0;
     box-shadow: 5px 5px 5px #363636;
     border-radius: 10%;
   }

   p {
     padding: 0 40px;
     font-size: 16px;
     line-height: 1.5;
     color: #60646B;
   }

}
