page-despoluicao {
    font-size: 12vw;
    ion-slides {
        ion-slide {
            background-color: #00CED1;
            color: white;
            .img {
                max-width: 80vw;
                max-height: 60vw;
                width: auto;
                height: auto;
                border-radius: 20px;
            }
            .img2 {
                max-width: 60vw;
                max-height: 40vw;
                border-radius: 20px;
                padding-top: 2vw;
            }
            .capa {
                line-height: 10vw;
                text-align: center;
                font-size: 10vw;
                vertical-align: text-top;
                font-weight: bold;
            }
            .titulo {
                font-size: 6vw;
                position: absolute;
                top: 8vw;
                padding-top: 1vw;
                padding-left: 8vw;
                padding-bottom: 1vw;
                text-align: left;
                font-weight: bold;
            }
            .titulo2 {
                font-size: 5vw;
                position: absolute;
                top: 8vw;
                padding-top: 1vw;
                padding-left: 8vw;
                padding-bottom: 1vw;
                text-align: left;
                font-weight: bold;
            }
            .corpo {
                position: absolute;
                top: 20vw;
                padding-top: 1vw;
                padding-left: 8vw;
                padding-right: 8vw;
                text-align: justify;
                font-size: 5vw;
            }
            .title-corpo {
                font-weight: 700;
                font-size: 5vw;
                text-align: justify;
            }
        }
    }
}