page-saae {
  ion-card{
    width: 85vw;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 5vw;

    ion-card-content{
      ion-card-title{
        padding: 10vw;
      }
      p{
        text-align: justify;
        padding-left: 0.2vw;
        padding-right: 0.2vw;
        font-size: 2.8vw;
      }
      .titulo {
          background-color: #00CCCC;
          text-align: center;
          font-size: 4vw;
      }

      .linha-impar {
          background-color: #ADEAEA;
          font-size: 2.8vw;
      }
      .linha-par {
          background-color: #70DBDB;
          font-size: 2.8vw;
      }
      ion-row {
          height: 10vw;
          .coluna-titulo {
              font-weight: bold;
          }
          .coluna-corpo{
            font-size: 2.8vw;
          }
      }
    }
  }
}
