page-qualidade-agua-rio-view {

  .linha-impar{
    background-color: #ADEAEA;
  }
  .linha-par{
    background-color: #70DBDB;
  }
  ion-row{
    height: 15%;
    width: 100%;

    .coluna-titulo{
      font-weight: bold;
      width-max: 60%;
    }

    .coluna-permitido{
      width-max: 20%;
    }

    .coluna-obtido{
      width-max: 20%;
    }
  }

}
